* {
  padding: 0;
}

.announcement-bar-text {
  background-color: rgb(47, 255, 78);
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  flex: 0 auto;
  place-content: center;
  align-items: center;
  width: 100%;
  margin-top: -2px;
  margin-bottom: 0%;
  padding: 5px 0;
  gap: 20px;
}

.text-block {
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Neuepixelgrotesk, sans-serif;
  font-size: 13px;
  display: inline-block;
}

/* Nav Bar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 5px 20px;
}
